@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("images/Desktop_bg.svg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    box-shadow: 0 7px 20px rgba(0,0,0,0.7);
    background-color: #fff;
}
.navbar-light .navbar-brand{
    color: #0f4c75;
    font-weight: bolder;
}


.btn{
    background-color: #0f4c75;
    color: #fff;
}

.btn:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #0f4c75;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #0f4c75;
    font-weight: bold;
}

#slogan p{
    margin: 2rem 0 2rem 0;
}

@media screen and (min-width:992px){
    .navbar-collapse{
        width: auto;
    }
    .conatiner,.row{
        height: 90vh;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:992px){
    body{
        background-image: url("images/Mobile_bg.svg");
    }
    .navbar-collapse{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .conatiner,.row{
        height: fit-content;
        min-height: 90vh;
        display: flex;
        align-items: center;
    }
}

